:root {
    --mc:#FFEA75;
    --sc:#FA766B;
    --lc:#f4f4f4;
    --dc:#444444;
}

html {font-size:20px;}
body {font-size:0.8rem; color: var(--dc);}

#wrap {min-width:95rem;}

#header h1 {position:fixed; top:3rem; left:3rem; z-index:999;}
#header nav {position:fixed; top:50%; right:3rem; transform:translateY(-50%); z-index:999;}
#header nav li a {position:relative; display:block; width:3rem; height:1rem; text-indent:-999rem;}
#header nav li a::after {content:""; position:absolute; top:0.35rem; right:0; display:block; width:10%; height:0.3rem; background:var(--sc); border-radius:0.3rem}
#header nav li.on a::after {width:100%; transition:0.3s;}

#header .cover_btn {position:fixed; top:3rem; right:3rem; z-index:999;}
#header .cover_btn i {font-size:1.5rem; padding:0.5rem; background: var(--lc);}


.section {background:url(./lib/base/backpatten02.png);}
.container {position:relative; display:grid; grid-template-columns:repeat(2,1fr); gap:15rem; align-items:center; width:70rem; margin:0 auto;}

.intro figure {position:relative; border-radius:0%; border-radius:35% 65% 60% 40% / 47% 30% 70% 53%; overflow:hidden; animation:int_movie 1.5s infinite;}
.intro .container::after {content:""; position:absolute; top:-1rem; right:3rem; display:block; width:5rem; height:5rem; background: var(--sc); border-radius:50%; opacity:0.5;}
.intro figure:hover {border-radius:56% 44% 76% 24% / 25% 41% 59% 75%;}
.intro figure img {width:80%;}

.intro .slogan h2 {font-size:3rem; font-weight:700; margin-bottom:2rem;}
.intro .slogan p {font-size:0.75rem; font-weight:300; margin-bottom:1rem;}
.intro .slogan strong {display:block; font-size:1rem; font-weight:500;}

@keyframes int_movie {
    0% {border-radius:35% 65% 60% 40% / 47% 30% 70% 53%;}
    50% {border-radius:56% 44% 76% 24% / 25% 41% 59% 75%;}
    100% {border-radius:35% 65% 60% 40% / 47% 30% 70% 53%;}
}







#footer .top {position:fixed; bottom:3rem; right:3rem; z-index:999;}
#footer .top i {font-size:1.5rem; padding:0.5rem; background: var(--lc);}
#footer address {position:fixed; bottom:3rem; left:3rem; z-index:999;}





























