@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
    --mc:#BDE3F8;
    --sc:#FFEA75;
    --tc:#FA766B;
    --lc:#f4f4f4;
    --dc:#444444;
    --dd:#dddddd;
}

html {font-size:20px;}
body {font-size:0.8rem; color: var(--dc);}

#wrap {min-width:95rem;}

.container {position:relative; display:grid; grid-template-columns:repeat(2,1fr); gap:4rem; align-items:center; width:80rem; margin:0 auto; z-index:9;}

.section .mockup {box-shadow:0 0 15px#adadad; border-radius:1rem; overflow:hidden;}
.section .mockup figure {position:relative; padding-bottom:52%;}
.section .mockup figure img {position:absolute; top:0; left:0; width:100%; transition:3s; cursor:pointer;}
.section .mockup figure img:hover {transform:translateY(-100%); top:100%; }



/*--헤더----*/
#header h1 {position:fixed; top:2rem; left:2rem; z-index:999;}
#header h1 a {display:block; width:15rem;}
#header h1 a img {max-width:30%; animation:norang 1s infinite linear alternate;}

@keyframes norang {
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(0deg);}
    100% {transform: rotate(10deg);}
}


#header nav {position:fixed; top:50%; right:3rem; transform:translateY(-50%); z-index:99;}
#header nav li a {position:relative; display:block; width:3rem; height:1rem; text-indent:-999rem;}
#header nav li a::after {content:""; position:absolute; top:0.35rem; right:0; display:block; width:10%; height:0.3rem; background:var(--sc); border-radius:0.3rem}
#header nav li.on a::after {width:100%; transition:0.3s;}

#header .cover_btn {position:fixed; top:3rem; right:3rem; z-index:999; cursor: pointer;}
#header .cover_btn i {font-size:1.5rem; padding:0.5rem;}



/*--메인 인트로 ----*/
.intro {background:#d2efff url(../lib/base/pf_cloud.png) no-repeat center center/cover; }

.intro figure {position:relative;}
.intro .container::after {content:""; position:absolute; top:-1rem; right:3rem; display:block; width:5rem; height:5rem; background: var(--sc); border-radius:50%; opacity:0;}

.intro .slogan h2 {letter-spacing:0.1rem; line-height:1.3; font-size:4rem; font-family: 'Russo One', sans-serif;}
.intro .slogan p {font-size:0.75rem; font-weight:300; margin-bottom:1rem;}

.intro .wheel {position:absolute; bottom:3rem; left:50%; transform:translateX(-50%); width:1.5rem; height:2.4rem; border:2px solid#777; font-size:0; border-radius:0.7rem;}
.intro .wheel span {position:absolute; top:0.3rem; left:50%; transform:translateX(-50%); width:0.17rem; height:0.5rem; background:#444; border-radius:0.05rem; animation:wheel 1s infinite;}

@keyframes wheel {
    to {top:0.6rem}
}



/*--포폴 01----  전체 다 먹음 */
.portfolio_01 {position:relative; background:url(../lib/base/pf_cloud_left.png) no-repeat;}
.portfolio_01 .cloud {position:absolute; top:-12rem; left:64rem; width:100%; height:100%;  animation:cloud 2s infinite linear alternate; opacity:0.7; z-index:0;}
.portfolio_01 .cloud_02 {position:absolute; top:-7rem; left:-7rem; width:100%; height:100%; animation:cloud_02 1.7s infinite linear alternate; opacity:0.7; z-index:-1;}
.portfolio_01 img {max-width:100%;}

@keyframes cloud {
    0% {top:-12rem;}
    50% {top: -13rem;}
    100% {top:-14rem;}
}

@keyframes cloud_02 {
    0% {top:-7rem;}
    50% {top:-8rem;}
    100% {top:-9rem;}
}


.portfolio_01 .mockup {opacity:0; transform:translateX(-500px);}
.portfolio_01 .description {opacity:0; transform:translateX(300px);}

.portfolio_01.on .mockup {opacity:1; transform:translateX(0); transition:0.7s;}
.portfolio_01.on .description {opacity:1; transform:translateX(0); transition:0.7s 0.4s;}



.portfolio_01 .description h3 {font-size:3.3rem; font-weight:700; letter-spacing:-0.05em; margin-bottom:0.5rem; color:#34681E;}
.portfolio_01 .description b {display:block; font-size:0.9rem; font-weight:400; margin-bottom:1.5rem; color:#777; border-bottom:1px dashed var(--mc); padding-bottom:1rem; width:90%;}

.portfolio_01 .description em {display:block; font-size:1rem; font-weight:700; margin-bottom:0.5rem;}
.portfolio_01 .description p {font-size:0.75rem; font-weight:300; margin-bottom:2rem; line-height:1.3;}

/*부터 폰트,컬러,프로세스*/
.portfolio_01 .description dl {display:flex; line-height:1.2;}
.portfolio_01 .description dl dt {width:6rem; font-size:0.9rem; font-weight:700; margin-bottom:0.5rem;}   /*<-dt뒤에 볼더라인 잡는용도*/   
.portfolio_01 .description dl dd {min-width:12rem; font-weight:300;}   /*<-dd뒤에 볼더라인 잡는용도*/

.portfolio_01 .description dl:last-of-type {margin-bottom:1rem;}
.portfolio_01 .description dd span {display:inline-block; width:0.8rem; height:0.8rem; border-radius:50%; vertical-align:middle;}
.portfolio_01 .description dd strong {vertical-align:middle; margin-right:1rem; font-size:0.8rem; font-weight:300;}

.portfolio_01 .description dd span:nth-of-type(1) {background:#789602;}
.portfolio_01 .description dd span:nth-of-type(2) {background:#007ec3;}
.portfolio_01 .description dd span:nth-of-type(3) {background:#f2f4e7;}
/*까지 폰트,컬러,프로세스*/


.portfolio_01 .description ul {display:flex; position:absolute; top:4.5rem; right:8rem;}
.portfolio_01 .description ul a {display:block; background:#fff; border:2px solid var(--mc); color:#777; padding:0.7rem 1.5rem; font-size:0.8rem; font-weight:400; transition:0.3s; border-radius:20rem;}
.portfolio_01 .description ul a:hover {font-weight:500; background: var(--mc); color: var(--tc); padding:0.7rem 2.2rem;}




/*--포폴 02----*/
.portfolio_02 {position:relative; background:url(../lib/base/pf_cloud_right.png) no-repeat; text-align:right;}
.portfolio_02 .cloud {position:absolute; top:3rem; left:-70rem; width:100%; height:100%;  animation:cloud_2 2s infinite linear alternate; opacity:0.7; z-index:0;}
.portfolio_02 .cloud_02 {position:absolute; top:12rem; left:-30rem; width:100%; height:100%; animation:cloud_2_02 1.7s infinite linear alternate; opacity:0.7; z-index:-1;}
.portfolio_02 img {max-width:100%;}

@keyframes cloud_2 {
    0% {top:-10rem;}
    50% {top:-11rem;}
    100% {top:-12rem;}
}

@keyframes cloud_2_02 {
    0% {top:12rem;}
    50% {top:13rem;}
    100% {top:14rem;}
}


.portfolio_02 .mockup {opacity:0; transform:translateX(-500px);}
.portfolio_02 .description {opacity:0; transform:translateX(300px);}

.portfolio_02.on .mockup {opacity:1; transform:translateX(0); transition:0.7s;}
.portfolio_02.on .description {opacity:1; transform:translateX(0); transition:0.7s 0.4s;}



.portfolio_02 .description h3 {font-size:3.3rem; font-weight:700; letter-spacing:-0.05em; margin-bottom:0.5rem; color:#34681E; }
.portfolio_02 .description b {display:block; font-size:0.9rem; font-weight:400; margin-bottom:1.5rem; color:#777; border-bottom:1px dashed var(--mc); padding-bottom:1rem; width:90%;}

.portfolio_02 .description em {display:block; font-size:1rem; font-weight:700; margin-bottom:0.5rem;}
.portfolio_02 .description p {font-size:0.75rem; font-weight:300; margin-bottom:2rem; line-height:1.3;}

/*부터 폰트,컬러,프로세스*/
.portfolio_02 .description dl {display:flex; line-height:1.2;}
.portfolio_02 .description dl dt {width:6rem; font-size:0.9rem; font-weight:700; margin-bottom:0.5rem;}   /*<-dt뒤에 볼더라인 잡는용도*/   
.portfolio_02 .description dl dd {min-width:12rem; font-weight:300;}   /*<-dd뒤에 볼더라인 잡는용도*/

.portfolio_02 .description dl:last-of-type {margin-bottom:1rem;}
.portfolio_02 .description dd span {display:inline-block; width:0.8rem; height:0.8rem; border-radius:50%; vertical-align:middle;}
.portfolio_02 .description dd strong {vertical-align:middle; margin-right:1rem; font-size:0.8rem; font-weight:300;}

.portfolio_02 .description dd span:nth-of-type(1) {background:#789602;}
.portfolio_02 .description dd span:nth-of-type(2) {background:#007ec3;}
.portfolio_02 .description dd span:nth-of-type(3) {background:#f2f4e7;}
/*까지 폰트,컬러,프로세스*/


.portfolio_02 .description ul {display:flex; position:absolute; top:4.5rem; right:8rem;}
.portfolio_02 .description ul a {display:block; background:#fff; border:2px solid var(--mc); color:#777; padding:0.7rem 1.5rem; font-size:0.8rem; font-weight:400; transition:0.3s; border-radius:20rem;}
.portfolio_02 .description ul a:hover {font-weight:500; background: var(--mc); color: var(--tc); padding:0.7rem 2.2rem;}




/*--포폴 04----*/
.portfolio_04 {overflow:hidden;}
.portfolio_04 .svg {overflow:hidden;  filter:url('#bbq'); position:absolute; top:0%; left:0%; width:100%; height:100vh; font-size:0;}
.portfolio_04 .svg::before {content:""; display:block; width:40rem; height:40rem; background: var(--sc); border-radius:50%; position:absolute; top:30%; left:0%;}
.portfolio_04 .svg::after {content:""; display:block; width:10rem; height:10rem; background: var(--sc); border-radius:50%; position:absolute; top:50%; left:25%; animation:circle_move 8s infinite;}

@keyframes circle_move {
    0% {top:50%; left:25%; opacity:1;}
    100% {top:0%; left:70%; opacity:0;}
}






/*--프로필----*/
.spec {font-size:1.25rem;}
.spec i {padding:0.5rem; background:var(--lc); color: var(--mc); margin:0 0.25rem; border-radius:50%;}

.profile .inner {position:relative; width:20rem; height:20rem; padding:1rem; border:1px solid #FFEA75; border-radius:50%;}
.profile .inner strong {display:block; width:18rem; height:18rem; border-radius:50%; overflow:hidden;}
.profile .inner span {position:absolute; top:0; left:calc(50% - 0.5rem); width:1rem; height:10rem; font-size:0;  animation:circle_me 8s infinite linear; transform-origin:bottom;}
.profile .inner span::after {content:""; display:block; width:1rem; height:1rem; background:var(--mc); border-radius:50%; margin-top:-0.5rem;}

@keyframes circle_me {
    0% {transform:rotate(0);}
    100% {transform:rotate(1turn);}
}



/*--푸터----*/
#footer .top {position:fixed; bottom:3rem; right:3rem; z-index:99;}
#footer .top i {font-size:1.5rem; padding:0.5rem; background: var(--lc);}
#footer address {position:fixed; bottom:2rem; left:2rem; font-size:0.7rem; color:#777; z-index:999;}





/*--맨 밑 커버----*/
#cover {display:none; position:fixed; top:0; left:0; background:#161616c7; width:100%; height:100vh; z-index:99;}
#cover ul {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); font-size:1.5rem; font-weight:300; line-height:1.5; text-align:center; color:var(--lc);}





















