#wrap {}

/*탑배너-------------------------------------------------------------------------------*/

#top_banner {background:#ad9f97; color:#fff;}
#top_banner .container {display:flex; position:relative; width:1200px; margin:0 auto; height:60px; font-size:15px; padding:20px 120px;}
#top_banner .container p {font-size:13px; font-weight:100; padding:3px 5px;}
#top_banner .container i {position:absolute; top:22px; right:15px; font-size:20px;}

#top_banner .container i:hover {color:#777;}


/*메뉴-------------------------------------------------------------------------------*/

#header {}
#header .container {display:flex; width:1200px; margin:0 auto; padding:0 15px; line-height:100px;}
#header h1 img {max-width:180px;}
#header nav {margin-left:auto;}
#header nav>ul {display:flex;}
#header nav>ul>li>a {display:block; padding:0 30px; line-height:100px; font-size:13px; font-weight:300; letter-spacing:0.15em;}
#header .xi i {margin-left:25px; line-height:100px;  font-size:20px;}

.nov:hover {color:#888;}

#header nav>ul>li>a {display:block; padding:0 20px; line-height:100px;}
#header nav>ul>li {position:relative;}
#header nav>ul>li>ul {display:none; position:absolute; top:100; left:50%; transform:translateX(-50%); width:130%; text-align:center; background:#d4d4d494;z-index:999;}
#header nav>ul>li>ul>li>a {display:block; line-height:33px;position:relative; z-index:1; color: #333; font-size:12px; font-weight:300;}
#header nav>ul>li:hover>ul {display:block;}
#header nav>ul>li>ul>li>a:hover {color:#a14901; font-weight:600;}







/*메인비쥬얼 슬라이드-------------------------------------------------------------------------------*/

#main_visual {position:relative; margin-bottom:120px;}
#main_visual .main_slider figure:after {content:"";display:block;width:100%;height:100%;background:rgba(0, 0, 0, 0.35);position:absolute;top:0;left:0;}
#main_visual .main_slider figure {height:1000px; position:relative; background:#333;}
#main_visual .main_slider .itm01 {background:url(../img/main_01.jpg) no-repeat center center/cover ;}
#main_visual .main_slider .itm02 {background:url(../img/main_02.jpg) no-repeat center center/cover ;}
#main_visual .main_slider .itm03 {background:url(../img/main_03.jpg) no-repeat center center/cover ;}
#main_visual .main_slider .itm04 {background:url(../img/main_04.jpg) no-repeat center center/cover ;}
#main_visual .main_slider .itm05 {background:url(../img/main_05.jpg) no-repeat center center/cover ;}

#main_visual .slogan {position:absolute; top:50%; left:50%; width:1200px; padding:0 15px; transform:translate(-50%,-50%); color:#fff; text-align:center;}
#main_visual .slogan h2 {font-size:60px; font-weight:900; margin-bottom:70px;}
#main_visual .slogan p {font-size:20px; font-weight:100; text-shadow:0 0 3px #222;}


#main_visual .main_slider .slick-dots {display:flex;position:absolute;bottom:30px;left:50%;;transform:translateX(-50%);} 
#main_visual .main_slider .slick-dots li {background: rgba(255, 255, 255, 0.623);height:18px;width:18px;margin:0 10px; border-radius:50%;}
#main_visual .main_slider .slick-dots li.slick-active {background:#be9e46f6;}
#main_visual .main_slider .slick-dots li button {display:none;}



/*메인 제품01-------------------------------------------------------------------------------*/

#customer_01 {padding:100px 0; text-align:center;}
#customer_01 h2 {position:relative; width:1200px; margin:0 auto; padding:0 15px; text-align:left; font-size:24px; font-weight:500; margin-bottom:20px;}
#customer_01 h2:after {content:""; display:block; width:50px; height:2px; border-radius:3px; background:#c2c2c1; margin:20px 0;} /*->글자밑에 가로로 줄넣는거! html은 안건듦. after사용*/
#customer_01 .container {display:flex; width:1200px; margin:0 auto; padding:70px 0;}

#customer_01 figure img {max-width:100%; margin-bottom:40px;}
#customer_01 figure {flex:1; padding:0 15px;}

#customer_01 .container figure strong {font-size:15px; font-weight:100; letter-spacing:-1.5px; color:#888;}
#customer_01 .container figure h3 {font-size:17px; font-weight:300; letter-spacing:-1.5px; padding:10px 0;}
#customer_01 .container figure em {font-size:14px; font-weight:500; color:#ff7300;}

#customer_01 .case {overflow:hidden;}
#customer_01 figure img {transition:0.4s;}
#customer_01 figure:hover img {transform:scale(1.4);}



/*인스타그램-------------------------------------------------------------------------------*/

#content_01 {position:relative; margin-bottom:100px;}
#content_01:after {content:"";display:block;width:100%;height:100%;background:rgba(0, 0, 0, 0.45);position:absolute;top:0;left:0;}
#content_01 .container {position:relative;z-index:999}
#content_01 {padding:108px; height:500px; background:url(../img/visual_01.jpg) no-repeat center center/cover; background-attachment:fixed; color: #fff; }
#content_01 h2 {font-size:25px; font-weight:100;margin-bottom:10px; margin-left:755px; line-height:130%;}
#content_01 p {font-size:20px; font-weight:500;margin-bottom:10px; margin-left:738px; padding:20px; letter-spacing:0.03em;}
#content_01 .container a {display:block; width:130px; height:50px; line-height:50px; font-size:17px; font-weight:100; background:#c2a67bb4; color:#2b2929; text-align:center; margin-left:762px; border-bottom-right-radius:45%;}

#content_01 .container a:hover {background:#e7c389; font-weight:500;border-bottom-right-radius:0%;}
#content_01 .container a {transition:0.25s;}



/*메인 제품02-------------------------------------------------------------------------------*/

#customer_02 {padding:100px 0; text-align:center;}
#customer_02 h2 {width:1200px; margin:0 auto; padding:0 15px; text-align:left; font-size:24px; font-weight:500; margin-bottom:20px;}
#customer_02 h2:after {content:""; display:block; width:50px; height:2px; border-radius:3px; background:#c2c2c1; margin:20px 0;} /*->글자밑에 가로로 줄넣는거! html은 안건듦. after사용*/
#customer_02 .container {display:flex; width:1200px; margin:0 auto; padding:70px 0; }

#customer_02 figure img {width:100%; margin-bottom:40px;}
#customer_02 figure {flex:1; padding:0 15px;}

#customer_02 .container figure strong {font-size:15px; font-weight:100; letter-spacing:-1.5px; color:#888;}
#customer_02 .container figure h3 {font-size:16px; font-weight:300; letter-spacing:-1.5px; padding:10px 0;}
#customer_02 .container figure em {font-size:14px; font-weight:500; color:#ff7300;}

#customer_02 .case {overflow:hidden;}
#customer_02 figure img {transition:0.4s;}
#customer_02 figure:hover img {transform:scale(1.4);}



/*후기곰돌이-------------------------------------------------------------------------------*/

#content_02 {position:relative;text-align:center; background:rgba(161, 160, 157, 0.199); color:#535353; height:430px;}
#content_02 .container {padding:95px 0;}
#content_02 span {position:absolute; top:15px;left:0;width:100%;font-size:180px; font-weight:750; color:rgba(0, 0, 0, 0.096);}
#content_02 .container figure img {border-radius:10%; width: auto; height: auto; max-width: 200px; max-height:200px; position:relative;}
#content_02 .container p {font-size:16px; color:#666666; padding:20px 0;}
#content_02 .container em {display:block; width:100px; line-height:20px; margin:0 auto; font-size:12px; background:rgb(148, 148, 148);padding:3px 10px; border-radius:20px 20px 20px 20px;background:rgba(136, 136, 136, 0.164);}

#content_02 .itm_btn i {position:absolute; top:45%; left:50%;font-size:45px; padding:7px; color:#b8865388;}
#content_02 .itm_btn i.xi-angle-left {margin-left:-700px;}
#content_02 .itm_btn i.xi-angle-right {margin-left:700px;}


#content_02 .iio {}
.iio img {margin:0 auto;}



/*기타카테고리----------------------------------------------------------------------------------*/

/*news*/
#content_03 .container {margin:0 auto; padding:200px 0;}
#content_03 .container {display:flex; width:1200px; margin:0 auto; padding:200px 0;}
#content_03 .container figure {flex:1; padding:0 15px; position:relative;}
#content_03 .container figure img {width:100%;}
#content_03 .container .news {position:relative; overflow:hidden;}
#content_03 .container .news h2 {position:absolute; top:100%; left:0; width:100%; height:100%;background:rgba(0,0,0,0.5); color:#fff; text-align:center; padding-top:190px; transition:0.5s;font-size:25px; font-weight:300;}
#content_03 .container .news:hover h2 {top:0;}

#content_03 .container .news {margin-bottom:10px; overflow:hidden;}
#content_03 .container figure:nth-child(2) .case {border-radius:0%}
#content_03 .container .news:hover {border-radius:50% 50% 50% 2%;}
#content_03 .container .news img {width:100%; transition:1s;}
#content_03 .container .news:hover img {transform:scale(1.3);}


/*qna*/
#content_03 .container {margin:0 auto; padding:200px 0;}
#content_03 .container {display:flex; width:1200px; margin:0 auto; padding:200px 0;}
#content_03 .container figure {flex:1; padding:0 15px; position:relative;}
#content_03 .container figure img {width:100%;}
#content_03 .container .qna {position:relative; overflow:hidden;}
#content_03 .container .qna h2 {position:absolute; top:100%; left:0; width:100%; height:100%;background:rgba(0,0,0,0.5); color:#fff; text-align:center; padding-top:180px; transition:0.5s; font-size:25px; font-weight:300;}
#content_03 .container .qna:hover h2 {top:0;}

#content_03 .container .qna {margin-bottom:10px; overflow:hidden;}
#content_03 .container figure:nth-child(2) .case {border-radius:0%}
#content_03 .container .qna:hover {border-radius:50%;}
#content_03 .container .qna img {width:100%; transition:1s;}
#content_03 .container .qna:hover img {transform:scale(1.3);}


/*sweet*/
#content_03 .container {margin:0 auto; padding:200px 0;}
#content_03 .container {display:flex; width:1200px; margin:0 auto; padding:200px 0;}
#content_03 .container figure {flex:1; padding:0 15px; position:relative;}
#content_03 .container figure img {width:100%;}
#content_03 .container .sweet {position:relative; overflow:hidden;}
#content_03 .container .sweet h2 {position:absolute; top:100%; left:0; width:100%; height:100%;background:rgba(0,0,0,0.5); color:#fff; text-align:center; padding-top:180px; transition:0.5s; font-size:25px; font-weight:300;}
#content_03 .container .sweet:hover h2 {top:0;}

#content_03 .container .sweet {margin-bottom:10px; overflow:hidden;}
#content_03 .container figure:nth-child(2) .case {border-radius:0%}
#content_03 .container .sweet:hover {border-radius:50% 50% 2% 50%;}
#content_03 .container .sweet img {width:100%; transition:1s;}
#content_03 .container .sweet:hover img {transform:scale(1.3);}



/*푸터--------------------------------------------------------------------------------------*/

#footer {background:#303030; color:#f4f4f4; padding:55px;}
#footer .container {display:flex; justify-content:space-between; width:1200px; margin:0 auto;padding:0 15px;}
#footer .container {display:flex;}
#footer .container h3 {font-size:17px; font-weight:500; height:50px; padding:0 10px; margin-bottom:12px;}
#footer .container li {font-size:12px; font-weight:100; height:5px; padding-bottom:30px; color:#cecece;}   /*--->여기패딩에서 밑에 리스트 간격줄일수있음*/
#footer .container li {position:relative;}
#footer .container li a {display:block; padding:0 13px;}
#footer .container li:last-child {margin-bottom:30px;}

#footer .container .ABOUT {text-align:right;}

#footer hr {border:none; border-top:1px solid#777; height:10px;}

#footer .add {text-align:center; font-size:11px; font-weight:100; padding:40px 0 0 0; color:#777;}






















